
body {
    font-family: Arial, sans-serif;
    background-color: #b0cce8;
    background-image: url("./../Images/bg.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fill-box {
    max-width: 500px;
    margin: 110px auto;
    padding: 20px;
    height: 500px;
    color: #fff;
    border-radius: 30px;
    
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); 
    background-color: rgba(0,0,0, 0.4);

}
.fill-box h1{
    text-align: center;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: #fff;
}
p{
    text-align: center;
}

.fill-box form {
    display: flex;
    flex-direction: column;
}
.fill-box form label {
    margin-bottom: 5px;
    font-weight: bold;
}
.fill-box form .input-square{
    margin-bottom: 20px;
    padding: 8px;
    border: 3px solid #ddd;
    border-radius: 8px;
}
.Forgot {
    float: right;
}
.fill-box form button {
    width: 100%;
    padding: 10px;
    background-color: #6c757d;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.fill-box form button:hover {
    background-color: #5a6268;
}